<body>


    <div class="main">
        <a href="#" routerLink="/AllTickets" class="btn btn-success">All Tickets</a>
        <h1><span class="v">V</span>os tickets:</h1>
        <div class="tickets">
            <div class="ticket">
                <span class="title">ticket d'ouvrier</span>
                <span class="price">prix : 0.800</span>
                <button type="button" class="btn">Ajouter</button>

            </div>
            <div class="ticket">
                <span class="title">ticket d'employees</span>
                <span class="price">prix : 0.800</span>
                <button type="button" class="btn">Ajouter</button>
            </div>
            <div class="ticket">
                <span class="title">ticket de cadre</span>
                <span class="price">prix : 0.800</span>
                <button type="button" class="btn">Ajouter</button>
            </div>
            <div class="ticket">
                <span class="title">ticket d'invites</span>
                <span class="price">prix : 0.800</span>
                <button class="btn">Ajouter</button>
            </div>



        </div>
    </div>
    <div class="logo">
        <img src="assets/Teskerti__1_-removebg-preview.png">
    </div>
</body>